<li>

  <div>
    <a href="/questions/<%=@question.id%>">
      <h3><%= @question.data %></h3>
    </a>
    Author: <%=@question.user.first_name%>
  </div>

  <%if logged_in?%>
      <%if @question.user.id == current_user.id%>
        <a href="/questions/<%= @question.id %>/edit"><button type="button" name="button">edit</button></a>
        <form class="" action="/questions/<%= @question.id %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" name="name" value="delete">
        </form>
      <%end%>

    <span>
      <form class="" action="/questions/<%= @question.id %>/upvote" method="post">
        <button type="submit" name="button">UP VOTE</button>
        <span><%= @question.question_votes.where(vote_type: 1).count %></span>
      </form>
      <form class="" action="/questions/<%= @question.id %>/downvote" method="post">
        <button type="submit" name="button">DOWN VOTE</button>
        <span><%= @question.question_votes.where(vote_type: -1).count %></span>
      </form>
    </span>
  <%end%>

  <div>
    <h4>Answers:</h4>
    <ol>
      <% @question.answers.each do |answer| %>
      <br>
        <li><%= answer.data%></li>
          <ul>Author: <%=answer.user.first_name%>
            <%if logged_in?%>
              <%if answer.user.id == current_user.id%>
                <a href="/answers/<%= answer.id %>/edit"><button type="button" name="button">edit</button></a>
                <form class="" action="/answers/<%= answer.id %>" method="post">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="submit" name="name" value="delete">
                </form>
              <%end%>
              <span>
                <form class="" action="/answers/<%= answer.id %>/upvote" method="post">


                    <button type="submit" name="button">UP VOTE</button>
                
                  <span><%= answer.answer_votes.where(vote_type: 1).count %></span>
                </form>
                <!-- number of votes here -->
                <form class="" action="/answers/<%= answer.id %>/downvote" method="post">
                  <button type="submit" name="button">DOWN VOTE</button>
                  <span><%= answer.answer_votes.where(vote_type: -1).count %></span>
                </form>
              </span>
            <%end%>
          </ul>
      <% end %>
    </ol>
  </div>

  <%if logged_in?%>
    <form action="/question/<%= @question.id %>/answers/create" method="post">
        <input type="text" name="answer[data]" placeholder="Insert your answer here" required>
        <button type="submit" name="button">Post</button>
    </form>
  <%else%>
  <a href="/"><button type="button" name="button">Please Log In To Post Answer</button></a>
  <%end%>

</li>
